@font-face {
   font-family: 'SöhneBreit-Extrafett';
   font-display: swap;
   src: url('file:///Users/tomasbcunha/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-04-14_152056/fonts/So%CC%88hneBreit-Extrafett/font.ttf');
}
